# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea
.idea/*

.vscode
.vscode/

*$py.class

ml4t-venv/

.pyc
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
